/*tipo*/
* {
    padding: 0;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body {
    margin: 0;
    background-image: url("/images/final_exacta_201411101841_resized_2000x475.jpg");
    background-repeat: no-repeat;
}
a {
    color: rgb(27, 129, 88);
    text-decoration: none;
}
h3 {
    color: #4abc2a;
}
/*clases*/
.logo {
    display: block;
    margin-top: 15px;
    margin-left: 250px;
}
.lista {
    /* text-align: center; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.lista ul {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;    
}
.lista li {
    list-style-type: none;
    display: inline;
    padding-right: 5px;

}
.title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 45px;
    /* text-transform: uppercase; */
    text-align: center;
    color: rgba(241, 214, 10, 0.693);
    background-color: #21252978;
    font-family: cursive;   
     
}
.subtitle {
    text-align: center;
    font-family: cursive;
    font-size: 15px;
}
.form_style {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 40px;
    padding: 30px 200px;
    text-transform: capitalize;
    
}
.list-and-image {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn-menu {
    color: rgba(241, 214, 10, 0.693);
    font-size: 25px;
}
.menu {
    display: flex;
    list-style: none;
}
.menu a {
    color: rgb(62, 101, 62);
    text-decoration: none;
    padding: 10px;
    padding-right: 65px;
}
.col-12 {
    flex: 0 0 auto;
    width: 100%;
}
.blur {
    background-color: rgba(0, 0, 0, .8) !important;
}
.p-5 {
    padding: 20px !important;
}
/*hover*/
a:hover {
    color: rgba(232, 244, 236, 0.426);
}
