
.icon-menu:before { content: '\e800'; } /* '' */
.icon-lightbulb:before { content: '\e801'; } /* '' */
.icon-religious-jewish:before { content: '\e831'; } /* '' */
.icon-warehouse:before { content: '\e840'; } /* '' */
